<div class="col-div-3">
    <div class="box">
        <p>{{value}}<br/><span>Employees</span></p>
        <i class="fa fa-users box-icon"></i>
    </div>
</div>
<div class="col-div-3">
    <div class="box">
        <p>{{value2}}<br/><span>Projects</span></p>
        <i class="fa fa-list box-icon"></i>
    </div>
</div>
<div class="col-div-3">
    <div class="box">
        <p>{{value3}}<br/><span>Abcenses</span></p>
        <i class="fa fa-shopping-bag box-icon"></i>
    </div>
</div>
<div class="col-div-3">
    <div class="box">
        <p>{{value4}}<br/><span>Démarrage</span></p>
        <i class="fa fa-tasks box-icon"></i>
    </div>
</div>
<div class="clearfix"></div>
<br/><br/>
<div class="col-div-10">
    <app-calendar></app-calendar>
</div>