// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$HPS_Project_Front-primary: mat.define-palette(mat.$indigo-palette);
$HPS_Project_Front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$HPS_Project_Front-warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$HPS_Project_Front-theme: mat.define-light-theme(( color: ( primary: $HPS_Project_Front-primary, accent: $HPS_Project_Front-accent, warn: $HPS_Project_Front-warn, )));
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($HPS_Project_Front-theme);
//Import GooGle Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900');
$family-sans-serif: "Nunito",
sans-serif;
//Update Some of Bulma's component variables
$control-border-width:2px;
$input-border-color: transparent;
$input-shadow: none;

/*Clobal Style */

html,
body {
    height: 100%;
}

html {
    background-color: #1f233a;
    background-size: cover;
    overflow-y: auto !important;
}